/*
===============
- 
- 
- 
===============
*/

.side-navigator {
    position: relative; z-index: 100; /* top */
}


/* --- Un-deprecated navigation 
    (displayed on landing) --- */
.side-navigator .landing {
    position: absolute;
    height: 100%;
    bottom: 32px;
    right: 2.5%;
}

    .side-navigator .landing ul {
        position: sticky;
        list-style-type: none;
    }

    .side-navigator .landing ul li {
        display: block;
        text-align: left;
        padding: 0.9rem 0;
        cursor: pointer;
        text-align: left;
    }
    .side-navigator .landing ul li a {
        display: block;
        text-decoration: none;
        font-size: 1.2rem;
        color: #111;
        cursor: pointer;
    }
    .side-navigator .landing a:hover {
        text-decoration: underline #2E5900;
        transition: 0.5s ease-in-out;
        margin-right: 4px;
    }

    
/* --- Closed & deprecated Sidebar --*/
.pullout-closed {
    position: fixed;
    top: 0; right: 0;
    margin: 0; padding: 0;
    
}
    
    .pullout-closed div {
        width: 10em;
        height: 6em;
        position: relative; /* to position children */
    }
    
    .pullout-closed div::before,
    .pullout-closed div::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        border-color: transparent;
        border-style: solid;
    }
    .pullout-closed div::before {
        border-width: 1rem;
        border-right-color: #E0BF00;
        border-left-color: #ccc;
    }
    .pullout-closed div::after {
        border-radius: 0.4em;
        border-width: 4.5rem;
        border-right-color: white;
        border-top-color: white;
    }

    .pullout-closed .three-bars {
        position: absolute; z-index: 70;
        top: 1.5rem;
        right: 1.5rem;
        cursor: pointer; color: #2b3136;
    }


/* --- OPEN & deprecated Sodebar --- */
.pullout-open .navbar {
    height: 100%;
    /*width: 0; --- 0/30vw on changes */
    max-width: 25vw;
    position: fixed;
    z-index: 60;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden; /* --- Disable horizontal scroll */
    padding-top: 48px;
    }

    
    .pullout-open .navbar a, .pullout-open .navbar span {
        padding: 24px 48px 12px 24px;
        text-decoration: none;
        font-size: 25px;
        color: #f9f1dc;
        display: block;
        transition: 0.3s;
        text-align: right;
    }
    .pullout-open .navbar span { color: white; }

    .pullout-open .navbar *:hover {
        color: #EEDDAA;
        text-decoration: underline #EEDDAA;
        transition: all 300ms linear;
        margin-right: 6px;
    }
    
    .pullout-open .navbar .closebtn {
        position: absolute;
        top: 0;
        right: 32px;
        font-size: 2.25rem;
        margin-left: 50px;
        cursor: pointer;
    }
    
    #sidenav-res-dl {
        position: absolute;
            z-index: 10; 
        bottom: 24px;
        left: 0;

        padding: initial;
        font-size: initial;
        display: initial;
        text-align: initial;
    }
    /*--- Active Link Location --- */
    .pullout-open .navbar .activeLinkLoc {
        color: #EEDDAA;
        margin-right: 6px;
    }
    .pullout-open .navbar .activeLinkLoc:hover {
        color: #E0BF00;
    }
    
    @media screen and (max-height: 450px) {
        .pullout-open .navbar {padding-top: 16px }
        .pullout-open .navbar a {font-size: 1rem }
    }